<!--================Footer Area =================-->
<section class="testimonials_area section_gap">
    <div class="container">
        <div class="testi_slider owl-carousel">
            <div class="testi_item">
                <center>
                    <h2>
                        <font size="+3" face=verdana color="aqua">Our Features</font>
                    </h2>
                </center>
                <ul class="list">
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                </ul>
                <div class="wow fadeIn" data-wow-duration="1s">
                    <center>
                        <h2>
                            <font size="+2" face=verdana color="yellow">100% Free to Detect Plagiarism Online</font>
                        </h2>
                    </center>
                </div>
            </div>
            <div class="testi_item">
                <center>
                    <h2>
                        <font size="+3" face=verdana color="aqua">Our Features</font>
                    </h2>
                </center>
                <ul class="list">
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                </ul>
                <div class="wow fadeIn" data-wow-duration="1s">
                    <center><h2> <font size="+2" face=verdana color="yellow">
                    You Can Check Plagiarism Percentage AND in future: Plagiarism Type, Level, Check Grammar And Vocabulary mistakes For Any File You Want !
                    </font></h2></center>
                </div>
            </div>
            <div class="testi_item">
                <center><h2> <font size="+3" face=verdana color="aqua">Our Features</font></h2></center>
                <ul class="list">
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                </ul>
                <div class="wow fadeIn" data-wow-duration="1s">
                    <center>
                        <h2>
                            <font size="+2" face=verdana color="yellow">You Can Now Register to Check Your Work !</font>
                        </h2>
                    </center>
                </div>
            </div>
            <div class="testi_item">
                <center><h2> <font size="+3" face=verdana color="aqua">Our Features</font></h2></center>
                <ul class="list">
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                </ul>
                <div class="wow fadeIn" data-wow-duration="1s">
                    <center>
                        <h2>
                            <font size="+2" face=verdana color="yellow">The hunter Has Wrighting Tips To Strength Your Writing Skills</font>
                        </h2>
                    </center>
                </div>
            </div>
            <div class="testi_item">
                <center><h2> <font size="+3" face=verdana color="aqua">Our Features</font></h2></center>
                <ul class="list">
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                </ul>
                <div class="wow fadeIn" data-wow-duration="1s">
                    <center><h2> <font size="+2" face=verdana color="Yellow">
                        You Can Contact Us Anytime You Want On Our Social Media Links Belelow :) 
                    </font></h2></center>
                </div>
            </div>
        </div>
    </div>  
</section> 
<center>
    <h2 style="background: white;margin: 0;">
        <font size="+2" face=verdana color="black">Enjoy Your Time With</font>
    </h2>
</center>
<center style="background: white;margin: 0;">
    <font size="+3" face=impact color="red" >The hunter</font>
</center>
<right >                       
    <a href="https://www.facebook.com/Investigator-535079360743123" >
        <img data-u="image" src="static/img/fb-round.png" style="width: 50px; height:50px" title="Like Our Page On Facebook">
    </a>
    <a href="#" >
        <img data-u="image" src="static/img/twitter-round.png" style="width: 50px; height:50px" title="Follow Our Account Twitter">
    </a>                                 
    <a href="#" >
        <img data-u="image" src="static/img/youtube-round.png" style="width: 50px; height:50px" title="Subscribe Our Channel On YouTube">
    </a>                              
    <a href="#" >
        <img data-u="image" src="static/img/gmail-round.png" style="width: 50px; height:50px" title="Contact Us On Our Gmail">
    </a>
</right>
<div class="copy_right_text ml-2" >
    <p>Copyright &copy; by TheHunter.com</p>
</div>
<!--================End Footer Area =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="static/js/jquery-3.2.1.min.js"></script>
<script src="static/js/popper.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/stellar.js"></script>
<script src="static/js/jquery.magnific-popup.min.js"></script>
<script src="static/vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="static/vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="static/vendors/isotope/isotope-min.js"></script>
<script src="static/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="static/js/jquery.ajaxchimp.min.js"></script>
<script src="static/vendors/counter-up/jquery.waypoints.min.js"></script>
<script src="static/vendors/counter-up/jquery.counterup.min.js"></script>
<script src="static/js/mail-script.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="static/js/gmaps.min.js"></script>
<script src="static/js/theme.js"></script>