<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" href="/">
            <font size="+5" face=impact color="red">The Hunter</font>
            <!--img id="logo" src="../../static/img/logo.png" alt="logo"-->
        </a>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-center">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('upload_file')}}">Checking plagiarism</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about_us')}}">About US</a>
                </li>
            </ul>
            {% if not currentUser %}
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a href="{{url_for('register_user')}}" class="primary_btn">Register</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right ml-3">
                <li class="nav-item"><a href="{{url_for('login')}}" class="primary_btn">Login</a></li>
            </ul>
            {%endif%}
            {% if currentUser %}
            <ul class="nav navbar-nav navbar-right ml-0 mr-3">
                <li class="nav-item"><a href="{{url_for('logout')}}" class="primary_btn">Log Out</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left ml-0 myprimary_btn">
                <li class="nav-item submenu dropdown" id="mymenu">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false"><i style="position: absolute;
                                                                    top: 50%;
                                                                    left: 50%;
                                                                    transform: translate(-40%, -50%); color: #222222;"
                            class="far fa-user"></i></a>
                    <ul class="dropdown-menu" id="mydrop" style="left: -700%;">
                        <li class="nav-item">
                            <a class="nav-link profileLink" href="{{url_for('profile')}}"> 
                                <div style="width: 100%; text-align: center;">
                                    <img class="rounded-circle" src="../static/uploads/users/{{currentUser['image']}}" alt="">
                                </div>
                            {{currentUser["name"]}}
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-cog"></i> Settings</a>
                    </ul>
                </li>
            </ul>
            {%endif%}
        </div>
    </div>
</nav>