<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Required meta tags-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="au theme template">
		<meta name="author" content="Hau Nguyen">
		<meta name="keywords" content="au theme template">
		<link rel="icon" href="static/img/Home/icon.png" type="image/png">

		<!-- Fontfaces CSS-->
		<link href="../static/css/font-face.css" rel="stylesheet" media="all">
		<link href="../static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
		<link href="../static/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
		<link href="../static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

		<!-- Bootstrap CSS-->
		<link href="../static/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

		<!-- Vendor CSS-->
		<link href="../static/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
		<link href="../static/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
		<link href="../static/vendor/wow/animate.css" rel="stylesheet" media="all">
		<link href="../static/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
		<link href="../static/vendor/slick/slick.css" rel="stylesheet" media="all">
		<link href="../static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
		<link href="../static/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
		<link href="../static/vendor/vector-map/jqvmap.min.css" rel="stylesheet" media="all">

		<!-- Main CSS-->
		<link href="../static/css/theme.css" rel="stylesheet" media="all">

		<!-- table css-->
		<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="../static/vendor/perfect-scrollbar/perfect-scrollbar.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="../static/css/util.css">
			<link rel="stylesheet" type="text/css" href="../static/css/main2.css">
		<!-- end table css-->

	</head>

	<body class="animsition">
		<div class="page-wrapper">
			<!-- MENU SIDEBAR-->
			<aside class="menu-sidebar2" >
				<div class="logo">
					<a href="/">
						<img src="../static/img/logo.png" alt="The Hunter" />
					</a>
				</div>
				<div class="menu-sidebar2__content js-scrollbar1">
					{% if currentUser %}
					<div class="account2">
						<div class="image img-cir img-120">
							<img src="../static/uploads/users/{{currentUser['image']}}" alt="{{currentUser['name']}}" />
						</div>
						<a href="{{url_for('changePhoto')}}">change photo</a>
						<h4 class="name">{{currentUser["name"]}}</h4>
						<a href="{{url_for('logout')}}">Sign out</a>
					</div>
					{% endif %}
					{% if not currentUser %}
					<div class="account2">
						<a class="name" href="{{url_for('register_user')}}">Sign in now</a>
					</div>
					{% endif %}
					<nav class="navbar-sidebar2">
						<ul class="list-unstyled navbar__list">
							<li class="active has-sub">
								<a class="js-arrow" href="/">
									<i class="fas fa-tachometer-alt"></i>Dashboard
								</a>
							</li>
							<li class="has-sub">
								<a class="js-arrow" href="#">
									<i class="fas fa-copy"></i>Pages
									<span class="arrow">
										<i class="fas fa-angle-down"></i>
									</span>
								</a>
								<ul class="list-unstyled navbar__sub-list js-sub-list">
									{% if not currentUser %}
									<li>
										<a href="{{url_for('register_user')}}">
											<i class="fas fa-user"></i>Register</a>
									</li>
									<li>
										<a href="{{url_for('login')}}">
											<i class="fas fa-sign-in-alt"></i>Login</a>
									</li>
									{%endif%}
									{% if currentUser %}
									<li>
										<a href="{{url_for('logout')}}">
											<i class="fas fa-sign-in-alt"></i>logout</a>
									</li>
									{%endif%}
									<li>
										<a href="{{url_for('upload_file')}}">Checking plagiarism</a>
									</li>
									<li>
										<a href="{{url_for('about_us')}}">Contact US</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</aside>
			<!-- END MENU SIDEBAR-->

			<!-- PAGE CONTAINER-->
			<div class="page-container2">
				<!-- HEADER DESKTOP-->	
				<aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
					<div class="logo">
						<a href="/">
							<img src="../static/img/logo.png" alt="The Hunter" />
						</a>
					</div>
					<div class="menu-sidebar2__content js-scrollbar2">
						{% if currentUser %}
						<div class="account2">
							<div class="image img-cir img-120">
								<img src="../static/uploads/users/{{currentUser['image']}}" alt="{{currentUser['name']}}" />
							</div>
							<a href="{{url_for('changePhoto')}}">change photo</a>
							<h4 class="name">{{currentUser["name"]}}</h4>
							<a href="{{url_for('logout')}}">Sign out</a>
						</div>
						{% endif %}
						{% if not currentUser %}
						<div class="account2">
							<a class="name" href="{{url_for('register_user')}}">Sign in now</a>
						</div>
						{% endif %}
						<nav class="navbar-sidebar2" style="background: red !important;" >
							<ul class="list-unstyled navbar__list"  >
								<li>
									<a class="js-arrow" href="/">
										<i class="fas fa-tachometer-alt"></i>Dashboard
									</a>
								</li>
								<li class="has-sub">
									<a class="js-arrow" href="#">
										<i class="fas fa-copy"></i>Pages
										<span class="arrow">
											<i class="fas fa-angle-down"></i>
										</span>
									</a>
									<ul class="list-unstyled navbar__sub-list js-sub-list">
										{% if not currentUser %}
										<li>
											<a href="{{url_for('register_user')}}">
												<i class="fas fa-user"></i>Register</a>
										</li>
										<li>
											<a href="{{url_for('login')}}">
												<i class="fas fa-sign-in-alt"></i>Login</a>
										</li>
										{%endif%}
										{% if currentUser %}
										<li>
											<a href="{{url_for('logout')}}">
												<i class="fas fa-sign-in-alt"></i>logout</a>
										</li>
										{%endif%}
										<li>
											<a href="{{url_for('upload_file')}}">Checking plagiarism</a>
										</li>
										<li>
											<a href="{{url_for('about_us')}}">Contact US</a>
										</li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
				</aside>
				<!-- END HEADER DESKTOP-->

				<!-- STATISTIC-->
				<section class="statistic">
					<div class="section__content section__content--p30">
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-6 col-lg-4">
									<div class="overview-item overview-item--c1">
										<div class="overview__inner">
											<div class="overview-box clearfix">
												<div class="icon">
													<i class="zmdi zmdi-accounts-outline"></i>
												</div>
												<div class="text">
													<h2>{{users}}</h2>
													<span>members</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-lg-4">
									<div class="overview-item overview-item--c2">
										<div class="overview__inner">
											<div class="overview-box clearfix">
												<div class="icon">
													<i class="zmdi zmdi-file"></i>
												</div>
												<div class="text">
													<h2>{{userFiles}}</h2>
													<span>your files</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-lg-4">
									<div class="overview-item overview-item--c3">
										<div class="overview__inner">
											<div class="overview-box clearfix">
												<div class="icon">
													<i class="zmdi zmdi-file"></i>
												</div>
												<div class="text">
													<h2>{{lengthFiles}}</h2>
													<span>uploaded files</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- END STATISTIC-->

				{% if not currentUser %}
				<section>
					<div class="section__content section__content--p30">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xl-12">
									<!-- start last check -->
									<div class="overview-item overview-item--c4">
										<div class="overview__inner">
											<div class="overview-box clearfix">
												<div class="icon" style="margin-bottom: 10px;">
													<i class="zmdi zmdi-time-restore"><span>	last check</span></i>
												</div>
												<div class="text">
												</div>
											</div>
										</div>
									</div>
									<!-- end last check -->
								</div>
							</div>
						</div>
					</div>
				</section>
				<section>
					<div class="section__content section__content--p30">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xl-12">
									<!-- start last check -->
									<div class="overview-item overview-item--c3">
										<div class="overview__inner">
											<div class="overview-box clearfix">
												<div class="icon" style="margin-bottom: 10px;">
													<i class="zmdi zmdi-time-restore"><span>	History</span></i>
												</div>
												<div class="text">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				{% endif %}

				{% if currentUser %}
				<section>
					<div class="section__content section__content--p30">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xl-12">
									<!-- start last check -->
									<div class="overview-item overview-item--c4">
										<div class="overview__inner">
											<div class="overview-box clearfix">
												<div class="icon" style="margin-bottom: 10px;">
													<i class="zmdi zmdi-time-restore"><span>	Last check</span></i>
												</div>
												<div class="text">
													<table>
														<thead>
															<tr class="table100-head">
																<th class="column1">Date</th>
																<th class="column1">1st ID</th>
																<th class="column1">1st Name</th>
																<th class="column1">2nd ID</th>
																<th class="column1">2nd Name</th>
																<th class="column1">percentage</th>
															</tr>
														</thead>
														<tbody>
															{% for i in range(0,lenLR) %}
																{% for key, value in lastResult[i].items() %}
																	{% for val in value %}
																		<tr>
																			<td class="column1">{{date[i]}}</td>
																			<td class="column1">{{key.split("-")[0]}}</td>
																			<td class="column1">{{key.split("-")[1]}}</td>
																			<td class="column1">{{val["id"]}}</td>
																			<td class="column1">{{val["name"]}}</td>
																			<td class="column1">{{(val["score"]|string)[:5]}}%</td>
																		</tr>
																	{% endfor %}
																{% endfor %}
															{% endfor %}
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
									<!-- end last check -->
								</div>
							</div>
						</div>
					</div>
				</section>

				<section>
					<div class="section__content section__content--p30">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xl-12">
									<!-- start last check -->
									<div class="overview-item overview-item--c3">
										<div class="overview__inner">
											<div class="overview-box clearfix">
												<div class="icon" style="margin-bottom: 10px;">
													<i class="zmdi zmdi-time-restore"><span>	History</span></i>
												</div>
												<div class="text">
													<!-- Start Table Area -->
													<table>
														<thead>
															<tr class="table100-head">
																<th class="column1">Date</th>
																<th class="column1">1st ID</th>
																<th class="column1">1st Name</th>
																<th class="column1">2nd ID</th>
																<th class="column1">2nd Name</th>
																<th class="column1">percentage</th>
															</tr>
														</thead>
														<tbody>
															{% for i in range(0,len) %}
																{% for key, value in results[i].items() %}
																	{% for val in value %}
																		<tr>
																			<td class="column1">{{dates[i]}}</td>
																			<td class="column1">{{key.split("-")[0]}}</td>
																			<td class="column1">{{key.split("-")[1]}}</td>
																			<td class="column1">{{val["id"]}}</td>
																			<td class="column1">{{val["name"]}}</td>
																			<td class="column1">{{(val["score"]|string)[:5]}}%</td>
																		</tr>
																	{% endfor %}
																{% endfor %}
															{% endfor %}
														</tbody>
													</table>
													<!-- End Table Area -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				{% endif %}

				<footer>
					<section>
						<div class="container-fluid">  
							<div class="row">
								<div class="col-md-12">
									<div class="copyright">
										<p>Copyright © <a href="/">The Hunter</a> .</p>
									</div>
								</div>
							</div>
						</div>
					</section>
				</footer>

				<!-- END PAGE CONTAINER -->
			</div>
		</div>

		<!--table scripts-->
		<script src="../static/js/main.js"></script>	
		<script src="../static/vendor/select2/select2.min.js"></script>

		<!-- Jquery JS-->
		<script src="../static/vendor/jquery-3.2.1.min.js"></script>
		<!-- Bootstrap JS-->
		<script src="../static/vendor/bootstrap-4.1/popper.min.js"></script>
		<script src="../static/vendor/bootstrap-4.1/bootstrap.min.js"></script>
		<!-- Vendor JS       -->
		<script src="../static/vendor/slick/slick.min.js">
		</script>
		<script src="../static/vendor/wow/wow.min.js"></script>
		<script src="../static/vendor/animsition/animsition.min.js"></script>
		<script src="../static/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
		</script>
		<script src="../static/vendor/counter-up/jquery.waypoints.min.js"></script>
		<script src="../static/vendor/counter-up/jquery.counterup.min.js">
		</script>
		<script src="../static/vendor/circle-progress/circle-progress.min.js"></script>
		<script src="../static/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
		<script src="../static/vendor/chartjs/Chart.bundle.min.js"></script>
		<script src="../static/vendor/select2/select2.min.js">
		</script>
		<script src="../static/vendor/vector-map/jquery.vmap.js"></script>
		<script src="../static/vendor/vector-map/jquery.vmap.min.js"></script>
		<script src="../static/vendor/vector-map/jquery.vmap.sampledata.js"></script>
		<script src="../static/vendor/vector-map/jquery.vmap.world.js"></script>

		<!-- Main JS-->
		<script src="../static/js/main.js"></script>

	</body>
</html>
<!-- end document-->
