
{% extends 'base.html' %}
{% block body %}

<!--================Home Banner Area =================-->
<section class="home_banner_area">
	<div class="banner_inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="home_left_img">
						<img class="img-fluid" src="static/img/banner/home-left.png" alt="banner image">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="banner_content">
						<h2>Welcome to</h2>
						<h2><span style="font-weight: bold;color: red;">The hunter</span></h2>
						<div class="d-flex align-items-center">
							<a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?v=zF5Ddo9JdpY"></a>
							<div class="watch_video text-uppercase">
								watch the video
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->

<!--================First uploading Area =================-->
<section class="upcoming_games_area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="main_title">
					<h2 id="UP">100% Free 100% Free </h2>
					<h1 id="UP2">100% Free to Detect Plagiarism Online</h1>
				</div>
			</div>
		</div>
		<div class="row text-center" style="display: flex;justify-content: center;align-items: center;">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="new_games_item">
					<img src="static/img/Home/upload-icon-15.png">
					<div class="upcoming_title">
						<h3><a href="{{url_for('upload_file')}}">Check plagiarism</a></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End uploading Area =================-->

{% endblock %}