{% extends 'base.html' %}
{% block body %}

	{% include 'banner.html' %}
	
	<br><br><br><br>

    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Create your account on</h2>
                    <center>
                        <font size="+3" face=impact color="red">Investigator</font>
                    </center>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{url_for('register_user')}}" enctype = "multipart/form-data">

                        <div class="form-row m-b-55">
                            <div>
                                <input type="file" name="file" id="">
                            </div>
                            <div class="name">Name</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="name">
                                            <label class="label--desc">First name</label>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                       
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="email" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="password" name="password">
                                </div>
                            </div>
                        </div>
                        
                       
                        <div class="form-row p-t-20">
                            <label class="label label--block">I agree all statements in <a href="#"
                                    class="term-service">Terms of service</a></label>
                            
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--================End sign up Area =================-->

{% endblock %}